@font-face {
  font-family: 'ZenKakuGothicAntique';
  src: url('assets/fonts/ZenKakuGothicAntique-Light.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'ZenKakuGothicAntique';
  src: url('assets/fonts/ZenKakuGothicAntique-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'ZenKakuGothicAntique';
  src: url('assets/fonts/ZenKakuGothicAntique-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'ZenKakuGothicAntique';
  src: url('assets/fonts/ZenKakuGothicAntique-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'ZenKakuGothicAntique';
  src: url('assets/fonts/ZenKakuGothicAntique-Black.ttf') format('truetype');
  font-weight: 900;
}

:root {
  line-height: 1.5;
  font-weight: 400;
  font-family: 'ZenKakuGothicAntique', system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: 'ZenKakuGothicAntique', system-ui, Avenir, Helvetica, Arial, sans-serif !important;
}

/*

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

/* register font from 'assets/fonts/MultiroundPro.otf */